table{
    border: 2px solid black;
    border-collapse: collapse;
}

td{
    border: 1px dotted black;

}

thead{
    background-color: rgb(170,170,200);
}

td:first-child, td:last-child{
    background-color: dodgerblue;
}

tr td.andereMaand{
    background-color:  rgb(255, 220, 220);
    color: #b0b3b8;
}
a:link,a:visited,a:active,a:hover{
    color: blue;
}
#naamDagen td{
    background-color: rgb(35,37,70);
    color: rgb(200,190,240);
}

.vrijeDag{
    background-color:  rgb(250,120,120);
}

tr:first-child td {
    border: 1px dotted rgb(200, 190, 240);
}